/* ===== PAGE BACKGROUND ===== */
.login-page {
  min-height: 60vh;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

/* ===== TOP MENU ===== */
.top-menu {
  width: 100%;
  background: #ffffff;
  padding: 12px 15px;
  display: flex;
  gap: 20px;
    align-items: center;
  justify-content: center;

}

.top-menu button {
  background: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: large;
  transition: 0.3s;

}

.top-menu button:hover {
  background: #000000;
  color: white;
}

.top-menu button.active {
  background: #007bff !important;
  color: white !important;
}

/* ===== LOGIN CARD ===== */
.login-box {
  background: #ffffff;
  padding: 35px;
  width: 500px;
  border-radius: 12px;
  text-align: center;
  color: #111;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
  margin-top: 30px;
  animation: fadeIn 0.5s ease-in-out;
}

.login-box h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* ===== INPUTS ===== */
.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
  transition: 0.3s;
}

.login-box input:focus {
  border-color: #ffcc00;
  outline: none;
  box-shadow: 0 0 6px rgba(255, 204, 0, 0.7);
}

/* ===== BUTTON ===== */
.login-box button {
  width: 100%;
  padding: 12px;
  background: #222;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.login-box button:hover {
  background: #ffcc00;
  color: #111;
}

/* ==== Animation ==== */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
